* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
}

.parent {
    background-color: yellow;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item {
    border: 1px solid black;
    padding: 40px;
    width: 200px;
}




.achivements-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: rgb(217, 217, 217);
    padding: 30px 20px;
}

.achivement-item {
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 20px 10px;
}


#infos {
    background-color: blueviolet;
    padding: 40px 0px;
}

.infos-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 10px;
}

.info-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

#our-motto {
    padding: 40px 0px;
}

.our-motto-wrapper {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.motto-description {
    text-align: center;
}


.mv-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
}


.mv-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.heading-blue {
    color: blue;
}

.mv-item-image-container {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mv-item-image-container>img {
    width: 50px;

}

#video-section {
    background-color: rgb(0, 108, 154);
    padding: 40px 0px;
}

.video-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.video-button {
    text-decoration: none;
    color: white;
    background-color: rgb(178, 181, 3);
    padding: 10px 20px;
    border-radius: 4px;
}



#dedication {}


.dedication-container {

    max-width: 1200px;
    margin: auto;
}

.dedication-top {
    text-align: center;
    max-width: 800px;

    margin: auto;
}

.dedication-items-container {
    display: flex;
    gap: 10px;
}

.dedication-item {
    background-color: rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}



.footer-wrapper {

    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 60px 0px;
    background-color: white;
}


.footer-logo-wrapper {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 60px;
}


.footer-item {
    flex: 1 1 0;

}

ul {
    list-style-type: none;
}



.gallery-wrapper {

    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    gap: 20px;
}

.gallery-item {
    width: 100%;
}

.gallery-item>img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.achivement-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.nav-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}